
# Dependencies (installed via "go get")
/pkg
/src

# The BrowserAudit web server binary
/browseraudit

# Production configuration file for the BrowserAudit web server
/server.yaml

# Local directory
/tmp

# IDE
/.idea

# Local development TLS certificates and keys
/certs/
/nginx/config/privkey.pem
/nginx/config/fullchain.pem

server